
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaExtractTrends</title>  
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="{% static 'GRID_app/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
    <div class="banner">
    <nav class="navbar navbar-expand-lg ">
        <div class="menu-bar">
            <ul>
                <li>
                    <a href="#">Men's Topwear</a>
                    <div class="sub-menu sub-menu-1">
                        <ul>
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Casual Shirts</a></li>
                            <li><a href="#">Formal Shirts</a></li>
                            <li><a href="#">Kurtas</a></li>
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Suits</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Men's Bottomwear</a>
                    <div class="sub-menu sub-menu-2">
                        <ul>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Track Pants</a></li>
                            <li><a href="#">Cargos</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Dhotis</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Women's Topwear</a>
                    <div class="sub-menu sub-menu-3">
                        <ul>
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Gowns</a></li>
                            <li><a href="#">Lehenga Cholis</a></li>
                            <li><a href="#">Kurtas and Kurtis</a></li>
                            <li><a href="#">Sarees</a></li>
                            <li><a href="#">Tops</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Women's Bottomwear</a>
                    <div class="sub-menu sub-menu-4">
                        <ul>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Track Pants</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Leggings and Patialas</a></li>
                            <li><a href="#">Palazzo and Sharara</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    </div>

    <nav class="navbar-expand-lg  prim-nav">
        <!--<img src="../../static/GRID_app/Images/log_j.png" alt="logo" class="logo_web">-->
        <div class="row height d-flex justify-content-center align-items-center s-box">
            <div class="col-md-6">
                
            </div>
        </div>
    </nav>
    <div class="form">
        <form action = "{% url 'search' %}">
            <div class="wrapper">
            <input type="text" name="srch-itm" class="form-control form-input" placeholder="What are you Looking For ?">
            <div class="searchbtn"><i class="fas fa-search"></i></div>
            </div>
        </form>
    </div>
    

    
    <!--Video-->
    <div class="cner">
        <div class="cner__contents">
            <video autoplay muted loop id ="VideoPart"  width="1300" height="640" >
                <source src="../../static/GRID_app/Images/FlipIntro.mp4" type="video/mp4">
            </video>
        </div>
        <div class="cner--fade"></div>
    </div>
    <!-- Space allotted to modify with DB info -->

    <div class="descrip">
        <h1>Let us look at some of the trends of the day </h1>
    </div>


    <div class="container" id="elem">
        {% for emp in posts %}

            <label>
                <div class="col-3">
                    <div class="card card-block">
                        <div class="modal-div"><img class="card-img-top" id = "show-modal" width = "200" height = "300" src="../static/GRID_app/Images/{{ emp.image_url }}" alt="Card image cap"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{emp.cat}}</h5>
                            <p class="card-text"> 
                                {{emp.sub_cat}}
                            </p>
                            <a href="#" class="btn btn-primary"> See similar products </a>
                        </div>
                    </div>
                </div> 
            </label>
        {% endfor %}
    </div>

    <div class="modal-container modal-container-hidden">
        <div class="modal__contents">
            <div class="close-bar">
                <svg viewPort="0 0 12 12" width = "1em" height = "3em" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <line x1="1" y1="11" 
                        x2="11" y2="1" 
                        stroke="black" 
                        stroke-width="2"/>
                    <line x1="1" y1="1" 
                        x2="11" y2="11" 
                        stroke="black" 
                        stroke-width="2"/>
                </svg>
            </div>
        </div>
    </div>
    <div class=" footer-eq">
        <div class="footer-content">
            <!--add all information -->
            <h3>!Fiddle Faddle</h3>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- Alloted space ends HERE -->
  <script src="{% static 'GRID_app/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'GRID_app/js/jquery-ui-1.13.2/jquery-ui.js' %}"></script>
  <script src="{% static 'GRID_app/js/scripts.js' %}"></script>
  <script src="{% static 'GRID_app/js/modal_toggle.js' %}"></script>
</body>
</html>

